:root{
    font-family: sans-serif;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(160, 119, 160);
    width:100vw;
    z-index: 10;
    
}

ul {
    display:flex;
    justify-content: space-around;
    padding-left:0;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
main{
    margin-top: 100px;
}

.parent{
    width:200px;
    height:300px;
    background-color: black;
    position:relative;
}
.child{
    width: 70px;
    height:70px;
    background-color: hotpink;
    position:absolute;
    top:30px;
    left:40px;
}